.book-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: var(--columbia-blue);
}
.book-list ul li {
    padding: 10px;
    background-color: var(--air-force-blue);
}